.App {
  text-align: center;
}

html {
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

@mixin box-shadow($r) {
  -webkit-box-shadow: $r $r 0px 0px rgba(187,187,187,1);
-moz-box-shadow: $r $r 0px 0px rgba(187,187,187,1);
box-shadow: $r $r 0px 0px rgba(187,187,187,1);
}
$tablet-max: 1020px; 
$mobile-max:480px;
$drum-container-desktop-width: 1000px;
$drum-container-tablet-width: 460px;
$drum-container-mobile-width: 320px;
$drum-margin: 10px;
$drum-padding: 10px;
$normal-box-shadow: 4px;
$hover-dip: 1px;
$active-dip: 2px;
#display {
  width: $drum-container-desktop-width;
  @media screen and (max-width: $tablet-max) {
    width: $drum-container-tablet-width;
  }
  @media screen and (max-width: $mobile-max) {
    width: $drum-container-mobile-width;
  }
  margin: auto;

  .drum {
    vertical-align: top;
    width: #{($drum-container-desktop-width / 4) - ( ($drum-padding + $drum-margin) * 2)};
    height: #{($drum-container-desktop-width / 4) - ( ($drum-padding + $drum-margin) * 2)};
    @media screen and (max-width: $tablet-max) {
      width: #{($drum-container-tablet-width / 3) - ( ($drum-padding + $drum-margin) * 2)};
      height: #{($drum-container-tablet-width / 3) - ( ($drum-padding + $drum-margin) * 2)};
    }
    @media screen and (max-width: $mobile-max) {
      width: #{($drum-container-mobile-width / 3) - ( ($drum-padding + $drum-margin) * 2)};
      height: #{($drum-container-mobile-width / 3) - ( ($drum-padding + $drum-margin) * 2)};
    }
    max-height: 150px;
    min-height: 60px;
    background-color: white;
    margin: $drum-margin;
    padding: $drum-padding;
    position: relative;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    @include box-shadow($normal-box-shadow);

    &:hover {
      @include box-shadow($normal-box-shadow - $hover-dip);
      margin: #{$drum-margin + $hover-dip} #{$drum-margin - $hover-dip} #{$drum-margin - $hover-dip} #{$drum-margin + $hover-dip};
    }
  
    &:active {
      @include box-shadow($normal-box-shadow - $active-dip);
      margin: #{$drum-margin + $active-dip} #{$drum-margin - $active-dip} #{$drum-margin - $active-dip} #{$drum-margin + $active-dip};
    }
    .drumAnnotations {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 10px;

      ::selection {
        color: none;
        background: none;
    }
    /* For Mozilla Firefox */
    ::-moz-selection {
        color: none;
        background: none;
    }

      .drumName {
          color: #aaa;
          @media screen and (max-width: $mobile-max) {
            font-size: 8px;
          }
      }

      .drumShortcut {
        color: #666;
        font-size: 40px;
        font-weight: bold;
      }

    }
  }
}